<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <header class="container-top">
        <img src="images/logo.png" alt="Sample Photo" />
        <span class="article-text"><span class="bold-text">PROPOSTA</span> COMERCIAL </span>
    </header>
    <main class="container-main">
        <span class="article-info"> INFORMAÇÕES DO CLIENTE</span>
        <section class="info-budget">
            <div class="client-info">
                <span><span class="bold-text">Orçamento nº: </span> @Model.IdBudget</span>
                <span><span class="bold-text">Nome: </span>  @Model.Name</span>
            </div>
            <div class="client-info">
                <span> <span class="bold-text">Profissional: </span>  @Model.Decorator</span>
                <span> <span class="bold-text">Telefone: </span>  @Model.PhoneNumber</span>
            </div>


        </section>
        <span class="article-info"> ITENS DO ORÇAMENTO</span>
        <section class="info-items">
            <table>
                <tr>
                    <th>Data</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                </tr>
                @foreach (var item in Model.Items)
                {
                    <tr>
                        <td>@item.Date</td>
                        <td>@item.Description</td>
                        <td>@item.Price</td>
                    </tr>
                }
            </table>
           <div class="summary-budget">
                <div class="details">
                    <span class="bold-text"> Observações:</span>
                    <span class="details-info"> 1. Validade do orçamento: 10 dias</span>
                    <span class="details-info"> 2. Prazo de entrega: 10 dias</span>
                    <span class="details-info"> Vitória, 13 de dezembro de 2024</span>
                    <span class="details-info"> Atenciosamente</span>
                    <span class="details-info, bold-text"> Vendedor ()xxxx-xxx</span>
                    <span class="details-info, bold-text"> Consultor de vendas</span>
               </div>
                <div class="payment">
                    <span class="payment-info"> Valor total: <span class="bold-text-white">@Model.TotalBudget </span></span>
                    <span class="payment-info"> Condições de pagamento</span>
                    <span class="payment-detail"> Cartão: Parcelado em 6x</span>
                    <span class="payment-detail"> Pagamento à vista: 5% desc</span>
                    <span class="payment-cash"> Valor Pgto à vista:</span>

               </div>

           </div>

        </section>
        
    </main>    
    <footer>
        <p>
            Kama Brasileira Ind. de Confec. Ltda - CNPJ: 31.467.673/0005-03 - End.: Av. Rio Branco, 274, lojas 26 B, C e D - 2o piso Shopping Rio Branco -
            Santa Lúcia - Vitória - ES - CEP: 29055-916 - Tel: (27) 3225.1456 /(27) 3324.3090 - vendas@kamabrasileira.com.br - kamabrasileira
        </p>
    </footer>
</body>
</html>